{% extends 'base.html.twig' %}

{% block title %}Liste des événements{% endblock %}



{% block body %}

  <style>

footer 
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

  </style>

  <!--<div class="container">
    <div class="row" id="app">
      <div class="offset-3 col-6">
        <h2>
          ajouter un événement:</h2>
        <br>
        <div class="row">
          <div class="col-6">
          <label for="type">Type :</label>
            <input id="type" class="form-control">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6">
          <label for="titre">Titre :</label>
            <input id="titre" class="form-control">
          </div>
        </div>
        <br>   
        <div class="row">
          <div class="col-6">
          <label for="date">Date :</label>
            <input id="date" class="form-control">
          </div>
        </div>
                <br>
        <div class="row">
          <div class="col-6">
         <label for="description">Description :</label>
            <input id="description" class="form-control">
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-2">
        <a href="{{ relative_path('http://localhost/motocross/public/login') }}" 
        class="btn btn-success btn-lg fa fa-plus"> </a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<br>
<br>
-->

<h1>Liste des événements</h1>

				{% for label, messages in app.flashes %}
				    {% for message in messages %}
				    	<div class="alert alert-{{ label }}" role="alert">
  						 {{ message }}
						</div>
				        
				    {% endfor %}
				{% endfor %}

<table class="table table-striped">
<thead>
  <tr>
    <th>Type</th>
    <th>Titre</th>
    <th>Date</th>
    <th>Description</th>
    <th></th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  {% for event in events %}
    <tr>
      <td>{{ event.type }}</td>
      <td>{{ event.titre }}</td>
      <td>{{ event.DateEvenement|date("m/d/Y") }}</td>
      <td>{{ event.description }}</td>
      <td></td>
      <td>
      <a href="{{ path('admin_event_change', {'event': event.id}) }}" 
      class="btn btn-lg fa fa-edit bg-warning"> </a>

        &nbsp;<!--equivalent d'un espce-->
     <a href="{{ path('admin_event_delete', {'event': event.id}) }}" 
      class="btn btn-danger btn-lg fa fa-trash"> </a>
       
               &nbsp;<!--equivalent d'un espce-->
     <a href="{{ path('admin_event_users', {'event': event.id}) }}" 
      class="btn bg-info btn-lg fa fa-eye"></i>
 </a>
    

      </td>

<!--
								<td>
									<button 
									@click="modifier(index)"
									class="btn btn-primary">
										<i class="fa fa-check"></i>
									</button>
										&nbsp;
									<button 
									@click="enlever(index)"
									class="btn btn-danger del">
											<i class="fa fa-trash"></i>
									</button>
								</td>
-->

    </tr>
  {% endfor %}
</tbody>
</table>
<a href="{{ path('admin_add_event') }}">
<button class="btn btn-primary">Ajouter un événement</button>
</a>
{% endblock %}