{% extends 'base.html.twig' %}

{% block title %}Hello ChooseEventController!{% endblock %}

{% block body %}
<style>
 body
    { 
background-image: url({{ relative_path('http://localhost/image/imgfond2c.jpg') }});
    }
    header
{
 background-color: #FFFFFF;
 height: 520px;
 border: 1px solid #FFFFFF;
 text-align: center;
 margin-top: 20px;
 padding-top:20px;
 margin-bottom: 50px; /*marge externe dessous 50px*/
 padding-left: 20px; /*marge interne droite 12px*/
 /*word-wrap: break-word; /*force le navigateur à aller à la ligne si phrase trop longue*/
 overflow: auto;
}


.btnr {
    width: 200px;
    height: 200px;
    padding: 10px 16px;
    border-radius: 100px;
    font-size: 24px;
    line-height: 1.33;
}
</style>


	<header>

		<h1>  BIENVENUE {{ app.user.prenom }} {{ app.user.nom }}  {{ age }}</h1>
		<br />

    <div>
{% if age > 17  %}
  
     <a  class="btnr btn-success " href="{{ path('inscription_event', {'user':app.user.id,'type':'adulte'}) }}">  ADULTE </a>
    <br>
    <br>
    <br>
    <br>
	<p>prochain entrainement : le "date" pour la session adulte</p>
  <div id="countdown">
    <strong>Temps restant</strong> :
    <span id="countdown_day" >--</span> jours
    <span id="countdown_hour">--</span> heures
    <span id="countdown_min" >--</span> minutes
    <span id="countdown_sec" >--</span> secondes
</div> 
{% endif %}



  {% if age <= 17 %}
   
     <a  class="btnr btn-success " href="{{ path('inscription_event', {'user':app.user.id, 'type':'junior'}) }}">JUNIOR</a>
    <br>
    <br>
    <br>
    <br>
  <p>prochain entrainement : le "date" pour la session junior</p>
  <div id="countdown">
    <strong>Temps restant</strong> :
    <span id="countdown_day" >--</span> jours
    <span id="countdown_hour">--</span> heures
    <span id="countdown_min" >--</span> minutes
    <span id="countdown_sec" >--</span> secondes
{% endif %}

     <br>
    <br>
    <br>  
    
{% for message in app.flashes('success') %}
<div class='alert alert-success mr-3'> 
{{ message }}
</div>
  
{% endfor %}
</div>
</div> 

<br>
</div>
	</header>


{% endblock %}
